body {
    font-family: 'Times New Roman', Times, serif;
}

body > header {
    background-color: chocolate;
    color: blanchedalmond;
    padding-left: 1rem;
    justify-content: center;
}

body > header > h1 {
    padding: 5px;
}

body > header > nav {
    display: flex;
}

body > header > nav > ul {
    list-style: none;
}

body > header > nav > ul > li > a {
    color: blanchedalmond;
    text-decoration: none;
}