{% extends 'base.html' %}

{% block content %}
    <article>
        <header>
            <h2>Welcome</h2>
        </header>
        <div>
            <p>
            Welcome to the Fine Old Library of Books, one of the finest old libraries of books in the modern world. Here you will find every book that exists, except for Clean Code as we forgot to purchase it.
        </p>
        <p>
            Please feel free to browse our expansive but carefully curated collection of books by only the finest authors, primarily JRR Tolkein.
        </p>
        </div>
        </div>
    </article>
{% endblock content %}